.grid-body{
    display: grid;
    min-height: 100vh;
    margin: 0;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}
.avatar img{
    width: auto;
    height: 100px;
}
.nav-link{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin-left: 100px;
}
.nav-link li{
    margin-left: 30px;
}
.nav-link a{
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 10px;
    transition: 0.3s;
}
.nav-link a:hover{
    color:rgb(204, 238, 54);
}

iframe{
    border: none;
    width: 100%;
    height: 700px;


    border: 5px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.site-footer{
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
.site-footer a{
    color: #bbb;
    text-decoration: none;
    margin: 0 10px;
    transition: rgb(230, 230, 92) 0.3s;
}
.social-links{
    padding: 10px 20px;
}





